@-moz-document url("about:newtab"), url("about:home") {
    /* Styles for both newtab and home page */

    :root[lwt-newtab-brighttext] {
        --newtab-background-color: #08080b !important;
        --newtab-background-color-secondary: #08080b !important;
        --newtab-weather-background-color: #08080b !important;

        --newtab-button-static-active-background: rgba(8, 8, 11, 0.85) !important; 
        --newtab-background-card: rgba(8, 8, 11, 0.85) !important;
        --newtab-button-static-hover-background: rgba(8, 8, 11, 0.85) !important;
    }

    body {
        --border-radius-medium: 14px !important;
        --size-item-large: 38px !important;
        --space-xsmall: 0.200rem !important;
    }

    .search-handoff-button {
        border: none !important;
    }

    .search-wrapper .logo-and-wordmark {
        display: none !important;
    }
}

@-moz-document url("about:home") {
    /* Home page only */

    .section-top-bar {
        margin-block-end: 1.2rem !important;
    }

    .top-site-outer .rich-icon {
        background-size: contain !important;
    }

    .top-site-outer .context-menu-button {
        inset-block-start: 0 !important;
        fill: var(--newtab-background-card) !important;
    }

    .search-wrapper {
        margin-block-end: calc(0.5rem + var(--space-xxlarge)) !important;
    }

    .icon.icon-pin-small {
        color: var(--newtab-background-card) !important;
    }

    @media (min-width: 1122px) {
        .search-wrapper .search-inner-wrapper {
            width: 920px !important;
        }
    }
}

@-moz-document url("about:newtab") {
    /* Newtab only */

    .search-wrapper {
        margin-bottom: 6rem !important;
    }

    .ds-top-sites, 
    .ds-highlights {
        display: none !important;
    }
}
