home/.config/Kvantum/matugen/matugen.kvconfig
home/.config/cava/config
home/.config/gtk-3.0/gtk.css
home/.config/hypr/hyprlock/matugen/matugen-hyprlock.conf
home/.config/hypr/matugen/matugen-hyprland.conf
home/.config/kitty/current-theme.conf
home/.config/kitty/themes/Matugen.conf
home/.config/matugen/colors.json
home/.config/qt5ct/colors/matugen-qt5ct.conf
home/.config/qt6ct/colors/matugen-qt6ct.conf
home/.config/rofi/themes/colors/colors.rasi
home/.config/swaync/matugen/matugen-swaync.css
home/.config/waybar/styles/matugen-colors.css
home/.config/zathura/matugen-zathurarc
