* {
    background:     #08080BE5;
    background-alt: #101014ff;
    background-sec: #787c99FF;
    foreground:     #acb0d0ff;
    selected:       #acb0d0ff;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    highlight:      rgba(120, 124, 153, 0.16);
}
