/* Change default font */
:root {
    /* Custom colors */
    --accent: #787c99;
    --accent-alternative: #acb0d0;
    --background: #0a0a0d;
    --background-elevated: #101014;

    /* Spotify related tweaks */
    --encore-body-font-stack: "CaskaydiaCove Nerd Font Propo";
    --encore-title-font-stack: "CaskaydiaCove Nerd Font Propo";
    --encore-variable-font-stack: "CaskaydiaCove Nerd Font Propo";
    --background-base: var(--background) !important;
    --text-bright-accent: var(--accent-alternative) !important;
    --essential-bright-accent: var(--accent-alternative) !important;

    /* Chevrons colors */
    --chevrons-button-color: #a1a5c0 !important;
    --chevrons-button-hover-color: #a1a5c0c4 !important;
}

.encore-dark-theme .encore-bright-accent-set {
    --background-base: var(--accent) !important;
    --background-press: var(--accent) !important;
    --background-highlight: var(--accent-alternative) !important;
    --background-elevated-base: var(--accent-alternative) !important;
    --background-elevated-highlight: var(--accent-alternative) !important;
    --background-elevated-press: var(--accent-alternative) !important;
    --background-tinted-base: var(--accent-alternative) !important;
    --background-tinted-highlight: var(--accent-alternative) !important;
    --background-tinted-press: var(--accent-alternative) !important;
}

.encore-dark-theme {
    --text-bright-accent: var(--accent-alternative) !important;
}

div[data-testid="progress-bar"] {
    --is-active-fg-color: var(--accent-alternative) !important;
}

/* Hide spicetify update button */
#global-nav-bar .main-globalNav-historyButtons button[aria-label="Update Spicetify"] {
    display: none;
}

/* Remove annoying big "Create" span inside of the library bar */
.main-yourLibraryX-header button[aria-label="Create"] > span {
    display: none;
}

/* Control buttons: set transparent background but not on hover */
.main-yourLibraryX-header button:not(:hover) {
    background: transparent;
}

/* Fix paddings for buttons in library header */
.main-yourLibraryX-header .main-useDropTarget-base {
    padding: 8px;
}

/* Remove paddings for the search / library layout bar */
.main-yourLibraryX-rootListHeader .main-yourLibraryX-libraryFilter {
    padding: 2px 0;
}

/* Bigger search input width */
.x-filterBox-expandedOrHasFilter input.x-filterBox-filterInput {
    width: fit-content;
    padding: 8px 34px;
}

/* Remove extra right/left  paddings, margins from top library elements  */
.YourLibraryX .main-yourLibraryX-header {
    padding: 16px 0px 8px;
}

/* Remove extra right/left  paddings, margins from top library elements  */
.YourLibraryX .main-yourLibraryX-filterArea {
    margin: var(--encore-spacing-tighter-2) 8px;
}

/* Fix margin when library is collapsed */
.main-yourLibraryX-headerIsCollapsed .main-yourLibraryX-collapseButton {
    margin-inline-end: 0;
}

/* Hide scrollbar in the library */
.YourLibraryX .os-scrollbar {
    display: none;
}

/* Make mini equalizers match color scheme */
.view-homeShortcutsGrid-equaliser img, .main-trackList-rowMarker img,
img.H70qcBekoGWOlskuON5R, img.X_HqPouENflGygaUXNus {
    filter: invert(85%) 
            sepia(2%) 
            saturate(50%) 
            hue-rotate(290deg) 
            brightness(98%) 
            contrast(92%);
}

/* Colors for additional control elements (lyrics, queue)  */
div.main-nowPlayingBar-extraControls button.main-genericButton-buttonActive {
    color: var(--accent);
}

/* Dot after additional controls */
div.main-nowPlayingBar-extraControls button.main-genericButton-buttonActive::after {
    background-color: var(--accent);
}

/* Focus, active and hover colors for control buttons */
div.main-nowPlayingBar-extraControls button.main-genericButton-buttonActive:hover,
div.main-nowPlayingBar-extraControls button.main-genericButton-buttonActive:focus,
div.main-nowPlayingBar-extraControls button.main-genericButton-buttonActive:active:focus {
    color: var(--accent-alternative);
}

/* Highlight color for selected text in context menus */
.main-contextMenu-menuItemButton[aria-checked=true] span,
.main-contextMenu-menuItemButton[role=menuitemradio][aria-checked=true],
.encore-internal-color-text-bright-accent {
    color: var(--accent) !important;
}

/* Context menu tweaks */
#context-menu .main-contextMenu-menu {
    background-color: var(--background-elevated);
    border-radius: 15px;
}


/* Settings page */
input:checked~.x-toggle-indicatorWrapper {
    background-color: var(--accent) !important;
}

.x-settings-zoomButtonIcon[data-selected=true] {
    color: var(--accent) !important;
    background-color: var(--accent) !important;
}

div.search-searchCategory-carouselButton svg.e-10180-icon {
    --text-base: #000;
}