* {
    /* E5 at the end adds transparency to the background */
    background:     #0f1417E5;
    background-alt: #1c2023ff;
    background-sec: #41484dFF;
    foreground:     #dfe3e7ff;
    selected:       #90cef4ff;
    active:         #cbc1e9FF;
    urgent:         #ffb4abFF;
    highlight:      #020d13;
}
